/*
    font-family: 'Lato', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    background-color: firebrick;
    font-family: 'Lato', sans-serif;
}
main {
    background-color:darkgray;
    color: blue;
    stroke-width: 50;
    stroke: black;
}
nav ul {
    background-color: teal;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

a {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    padding: .5em 1em;
    display: block;
    color:greenyellow;
    font-weight:bold;
}

a:hover {
    color: lightblue;
    text-decoration: underline;

}


nav a:hover, .selected {
    background-color: greenyellow;
    color: teal;
}
header {
    background-color: goldenrod;
}
h1{
    color:maroon;
    font-family: Century;
    font-weight: bold;
    font-size: 40px;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: dimgray;
    color: maroon;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
    stroke:black;
    stroke-width:30px;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    color: darkblue;
}
#title{
    font-family: Impact;
    font-weight: bold;
    font-size: 40px;
    color:orangered;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 26px;
}
header p{
    font-style:italic;
    font-weight:bold;
}
article.top {
    background-color: darkcyan;
    border-top: 0px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

header img{
    display: inline;
    vertical-align: baseline;
    width: 80px;
    margin-top: 0px;
    padding-top: 0px;
}

#slogan{
    margin-top: 10px;
    display:block;
}

header article{
    display:inline-block;
    margin-bottom:-13px;
    margin-left:4px;
}

header h1{
    display:inline;
    margin-bottom:20px;
    padding-bottom:20px;
    
}

header sidebar{
    float:left;
}
